body{
  color: #000000;	
  font-family: "PT Sans", Arial, Sans-serif;
  font-size: 14px; 
  font-weight: 700;
  text-transform: uppercase;
}

a{
  color: #000000;	
  text-decoration: none; 		
}

p{
  color: #333333;
  font-weight: 400;
}

li{
  list-style-type: none;	
}	
ul{
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 0px;	
}
.cover{
  width: 1200px;
  margin: 0 auto;	
  box-shadow: 0 0 30px 10px #dbdbdb;
}
/*Heder*/
.site-navigation{
  display: flex;
  justify-content: center;
}
.main-navigation{
  width: 1200px;
  height: 56px;
  background-color: #ffffff;  
  padding: 0;
  display: flex;
  justify-content: space-around;	 
  align-items: center;
}
.main-navigation li{	
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.box-logo{
  min-width: 140px;
  min-height: 72px;	
}

.logo{
  position: absolute;
  left: 50%;
  margin-left: -70px;
  z-index: 2;
}
/*finish Heder*/
/*main manu*/
.background-photo{	
  background: url(../img/background_photo.png) no-repeat;
  background-size: cover;
  width: 1200px;
  height: 508px;
  position: relative;
  display: flex;
  justify-content: center;
}

.block-background-photo{
  display: flex;
  justify-content: center;
}

.background-photo img{
  position: absolute;
  margin-top: 77px;	
}

.polygon {
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 57px;
background: url(../img/polygon.png) no-repeat center;
}

.features-promo{
  margin-top: 61px;	
  text-align: center;	
}

.features-promo h1{
  font-size: 21px;
  margin-bottom: 38px;
}
/*start*/
.main-block{
  width: 1200px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 56px;
  margin:0 auto;
}

.block-background{	
  background-color: #81b3d2;
  color: #ffffff; 
  text-align: center;
}

.block-background p{
  color: #ffffff; 
}

.main-block-background{
  width: 1200px;
  height: 256px;
  display: flex;
}

.main-block-background-2{
  width: 1200px;
  height: 256px;
  display: flex;
  padding-top: 70px;
}

.block-1{
  width: 400px;
  max-height: 256px;
  padding-top: 46px;
  box-sizing: border-box;
}

.first-photo{
  width: auto;
  max-height: 256px;
}

.block-2{	
  width: 400px;
  max-height: 256px;	
  padding-top: 49px;
  box-sizing: border-box;
}

.last-photo{
  width: auto;
  max-height: 256px;
}

.one-third{
  padding-top: 58px;
  text-align: center;
}

.block-other{
  width: 1200px;
  height: 256px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.other-block-2{
  width: 1200px;
  height: 256px;
  background-color: #eeeeee; 
  margin: 0;
  padding-top: 47px; 
  display: flex;
  justify-content: space-around;	
  text-align: center;	
  box-sizing: border-box;
}

.main-block span{	
  font-weight: 400;	
}
/*finish*/
.interestind-block{
  display: flex;
  justify-content: center;
}

.interesting{
  padding-top: 57px;
  text-align: center;	
}

.interesting h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;	
}

.interesting p{
  padding-bottom: 50px;
}

.search-btn-main{
  width: 568px;
  height: 86px;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
  padding-top: 35px;
  box-sizing: border-box;
}

.search-btn{
 height: 18px;
 color: #ffffff;
 font-family: "PT Sans";
 font-size: 21px;
 font-weight: 700;
 line-height: 26px;
}

.form-intro{
  width: 568px;
  height: 395px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  display: flex;
  justify-content: center;
  position: absolute;
}

.form-intro input{
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.form-intro input[type="date"]{
  background: url("../img/calendar.png") no-repeat;
  background-position: 316px;
}

input#date{
  margin-left: 21px;
}

input#date2{
  margin-left: 17px;
}

.form-intro label{
  display: flex;
  vertical-align: bottom;
  align-items: center;
  margin-right: 21px;
  margin: 0 auto;
}

#date{
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

#date2{
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

#amount{
  width: 38px;
  height: 32px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  text-align: center;
}

#amount2{
  width: 38px;
  height: 32px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  text-align: center;  
}

#button-intro{
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.form-block{
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 30px;
}

.form-block2{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}  

.form-block3{
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 490px;
  margin: 0 auto;
}

.map{
  display: flex;
  justify-content: center;
}

.minus{
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.minus-1{
  margin-left: 35px;
}

.minus-2{
  margin-left: 27px;
}

.plus{
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;  
}

.plus-1{
  margin-right: 44px;
}

.form-block5{
  padding-top: 53px;
}
/*finish menu*/
/*footer*/
.index-footer{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.9;
}

.index-footer1{
    margin-top: -120px;
}

.block-footer{
  width: 1200px;
  height: 120px;  
  display: flex;
  justify-content: space-around;
}

.info-footer{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.info-footer p{
  width: 136px;
  height: 16px;	
  font-weight: 700;
}

.social{
  display: flex;	
  justify-content: space-between;
  padding-top: 36px;
}

.media{
  background-color: #81b3d2;
  margin-right: 6px;
}

.twitter{
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 14px;
  padding-bottom: 16px; 
}

.fb{
  padding-top: 13px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 13px; 
}

.youtube{
  padding-top: 16px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 16px; 
}

.wedsite-logo{		
  padding-top: 39px;
}

.form-website{
  line-height: 40px;	
  font-weight: 400;
  vertical-align: top;
  padding-right: 8px;
}
/*finish footer*/
/*вторая страница гостиницы*/

/*Радио кнопки*/
.block-filter{
  width: 1200px;
  height: 215px;
  display: flex;
  justify-content: space-around;
  background: url(../img/filter_background.png) no-repeat 50% 50%;
  position: relative;
  background-size: cover;
  color: #ffffff;
}

.block-filter form{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.block-filter input[type="checkbox"]{
  display: none;
}

.block-filter h2{
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter-checkbox{
  margin-top: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;  
}

.cb-block{
  width: 520px;
  height: 215px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.filter-price{
  width: 500px;
  height: 215px;
}

.filter-title{
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.price-frame{
  width: 314px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
}


.price-frame input{
  width: 44px;
  margin: 0;
  padding: 0;
  color: #fff;
  background: 0 0;
  border: none;
  outline: none;
}

.price-frame-input{
  width: 47%;
  text-align: center;
}

.price-frame-input p{
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #fff;
}

.price-frame-input-line{
  display: inline-block;
  width: 2px;
  height: 22px;
  vertical-align: middle;
  background: #fff;
}

.btn-transparent{
  width: 133px;
  height: 32px;
  border: 2px solid #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  padding: 6px 35px;
  margin-left: 80px;
}

.range-controls{
  position: relative;
  width: 98%;
  padding-top: 20px;
  padding-bottom: 32px;
}

.range-controls .scale{
  background: #fff;
  width: 318px;
  height: 2px;
}

.toggle{
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.max-toggle {
    left: 230px;
}
/* конец радио кнопок*/
/* начало меню*/
.block-catalog{
  width: 1200px;
  height: 100%;
  border-top: 1px solid #e5e5e5;
}

.width-block{
  width: 1200px;
  height: 153px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e5e5e5;
}

.view-result{	
  width: 900px;
  height: 153px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block-rating{
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel{
  width: 710px;

}

.hotel h2{
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.hotel h2{
 padding-bottom: 12px;
}

.hotel-1 span{
 padding-left: 39px;
}

.hotel-2 span{
 padding-left: 64px;
}

.hotel-3 span{
 padding-left: 21px;  
}

.hotel p{
  margin:0;
}

.main-rating{
}

.main-rating .stars{
  color: #81b3d2;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 43px;
}

.rating{
  color: #666666;
  background-color: #f2f2f2;
  width: 110px;
  height: 27px; 
  font-weight: 400;
  line-height: 21px;
  padding-top: 5px;
  text-align: center;
  float: right;
  box-sizing: border-box;
}

.block-button{
  width: 258px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.details{
  background-color: #81b3d2;
  color: #ffffff; 
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 3px 16px;
}

.reserv{
  background-color: #766357;
  color: #ffffff;  
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 3px 16px;
}


