body{
  color: #000000;	
  font-family: "PT Sans", Arial, Sans-serif;
  font-size: 14px; 
  font-weight: 700;
  text-transform: uppercase;
}

a{
  color: #000000;	
  text-decoration: none; 		
}

p{
  color: #333333;
  font-weight: 400;
}

li{
  list-style-type: none;	
}	
ul{
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 0px;	
}
.cover{
  width: 1200px;
  margin: 0 auto;	
  box-shadow: 0 0 30px 10px #dbdbdb;
}
/*Heder*/
.site-navigation{
  display: flex;
  justify-content: center;
}
.main-navigation{
  width: 1200px;
  height: 56px;
  background-color: #ffffff;  
  padding: 0;
  display: flex;
  justify-content: space-around;	 
  align-items: center;
  flex-wrap: wrap;
}
.main-navigation li{	
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.main-navigation a:hover{
  color: #81b3d2;
}

.main-navigation a:focus{
  color: #000000;
  opacity: 0.3;
}

.box-logo{
  min-width: 140px;
  min-height: 72px;	
}

.logo{
  position: absolute;
  left: 50%;
  margin-left: -70px;
  z-index: 2;
}
/*finish Heder*/
/*main manu*/
.background-photo{	
  background: url(../img/background_photo.png) no-repeat;
  background-size: cover;
  background-color: #ddeaf3;
  width: 1200px;
  height: 508px;
  position: relative;
  display: flex;
  justify-content: center;
}

.block-background-photo{
  display: flex;
  justify-content: center;
}

.background-photo img{
  position: absolute;
  margin-top: 77px;	
}

.polygon {
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 57px;
background: url(../img/polygon.png) no-repeat center;
}

.features-promo{
  margin-top: 61px;	
  text-align: center;	
}

.features-promo h1{
  font-size: 21px;
  margin-bottom: 38px;
}
/*start*/
.main-block{
  width: 1200px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 56px;
  margin:0 auto;
}

.block-background{	
  background-color: #81b3d2;
  color: #ffffff; 
  text-align: center;
}

.block-background p{
  color: #ffffff; 
}

.main-block-background{
  width: 1200px;
  height: 256px;
  display: flex;
}

.main-block-background-2{
  width: 1200px;
  height: 256px;
  display: flex;
  padding-top: 75px;
}

.block-1{
  width: 400px;
  max-height: 256px;
  padding-top: 46px;
  box-sizing: border-box;
}

.first-photo{
  width: auto;
  max-height: 256px;
}

.block-2{	
  width: 400px;
  max-height: 256px;	
  padding-top: 49px;
  box-sizing: border-box;
}

.last-photo{
  width: auto;
  max-height: 256px;
}

.one-third{
  padding-top: 58px;
  text-align: center;
}

.block-other{
  width: 1200px;
  height: 256px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.other-block-2{
  width: 1200px;
  height: 256px;
  background-color: #eeeeee; 
  margin: 0;
  padding-top: 47px; 
  display: flex;
  justify-content: space-around;	
  text-align: center;	
  box-sizing: border-box;
}

.main-block span{	
  font-weight: 400;	
}
/*finish*/
.interestind-block{
  display: flex;
  justify-content: center;
}

.interesting{
  padding-top: 57px;
  text-align: center;	
}

.interesting h2{
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;	
}

.interesting p{
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;
}

.search-btn-main a{
  width: 568px;
  height: 86px;
  display: inline-block;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
  padding-top: 35px;
  box-sizing: border-box;
}

.search-btn-main a:hover{
  background-color: #604e43;
}

.search-btn-main a:focus{
  background-color: #503e33;
  color: #847870;
}

.search-btn{
 height: 18px;
 color: #ffffff;
 font-family: "PT Sans";
 font-size: 21px;
 font-weight: 700;
 line-height: 26px;
}

.form-intro{
  width: 568px;
  height: 395px;
  font-family: "PT Sans";
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: -600px;
  margin-left: 316px;
  z-index: 3;
}

.form-intro input{
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.form-intro input[type="date"]{
  background: url("../img/calendar.png") no-repeat;
  background-position: 316px;
}


input#date{
  margin-left: 21px;
}

input#date2{
  margin-left: 17px;
}

.form-intro label{
  display: flex;
  vertical-align: bottom;
  align-items: center;
  margin-right: 21px;
  margin: 0 auto;
}

#date{
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

#date:hover{
  background-color: #ebebeb;
}

#date:focus{
  background-color: #fff;
  border: 2px solid #f2f2f2;
}

#date2{
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

#date2:hover{
  background-color: #ebebeb;
}

#date2:focus{
  background-color: #fff;
  border: 2px solid #f2f2f2;
}

#amount{
  width: 38px;
  height: 32px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  text-align: center;
}

#amount:hover{
  background-color: #ebebeb;
}

#amount:focus{
  background-color: #fff;
  border: 2px solid #f2f2f2;
}

#amount2{
  width: 38px;
  height: 32px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  text-align: center;  
}

#amount2:hover{
  background-color: #ebebeb;
}

#amount2:focus{
  background-color: #fff;
  border: 2px solid #f2f2f2;
}


.form-block{
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 30px;
}

.form-block2{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}  

.form-block3{
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 490px;
  margin: 0 auto;
}

.minus{
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.minus-1{
  margin-left: 35px;
}

.minus-2{
  margin-left: 27px;
}

.plus{
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;  
}

.plus-1{
  margin-right: 44px;
}

#button-intro{
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
}

.form-block5{
  padding-top: 53px;
}

.form-block5 #button-intro:hover{
  background-color: #669ec0;
}

.form-block5 #button-intro:focus{
  background-color: #5496bd;
  color: #87b5d1;
}

.map{
  display: flex;
  justify-content: center;
  position: relative;
}

/*finish menu*/
/*footer*/
.index-footer{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.9;
}

.index-footer1{
    margin-top: -120px;
}

.block-footer{
  width: 1200px;
  height: 120px;  
  display: flex;
  justify-content: space-around;
}

.info-footer{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.info-footer p{
  width: 136px;
  height: 16px;	
  font-weight: 700;
}

.social{
  display: flex;	
  justify-content: space-between;
  padding-top: 36px;
}

.media{
  background-color: #81b3d2;
  margin-right: 6px;
}

.media:hover{
  background-color: #669ec0;
}

.social .media:active {
  color: rgba(255,255,255,.3);
  background-color: #5496bd;
}

.twitter{
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 14px;
  padding-bottom: 16px; 
}

.fb{
  padding-top: 13px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 13px; 
}

.youtube{
  padding-top: 16px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 16px; 
}

.wedsite-logo{		
  padding-top: 39px;
}


.form-website{
  line-height: 40px;	
  font-weight: 400;
  vertical-align: top;
  padding-right: 8px;
}
/*finish footer*/
/*вторая страница гостиницы*/

/*Радио кнопки*/
.block-filter{
  width: 1200px;
  height: 215px;
  background: url(../img/filter_background.png) no-repeat 50% 50%;
  position: relative;
  background-size: cover;
  color: #ffffff;
}


.block-filter form{
  display: flex;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 74px;
  padding-top: 10px;
  
}

.block-filter input[type="checkbox"]{
  display: none;
}

.block-filter h2{
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

/*первый блок*/
.cb-block{
  width: 391px;
  height: 155px;
  display: flex;
  justify-content: space-between;
  vertical-align: top;
}

.filter-checkbox{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; 
  margin-top: 18px; 
}

.filters input[type="checkbox"]:checked+label:before {
  content: "";
  background: url(../img/checkbox-on.svg) no-repeat; 
  width: 27px;
  height: 23px;
  font-size: 24px
  padding-right: 13px;
  }
/*
  .filter-checkbox input[type="checkbox"]+label:hover{
    color: #fff;
  }
*/
.filters input[type="checkbox"]+label:before {
  content: "";
  background: url(../img/checkbox-off.svg) no-repeat;
  display: inline-block;
  width: 27px;
  height: 23px;
  font-size: 24px;
  vertical-align: middle;
  color: #fff;
  opacity: .7;
  padding-right: 13px;
  }

.filters input[type="checkbox"]+label:hover{
}

.filters input[type="checkbox"]+label {
    font-size: 14px;
    cursor: pointer;
}
/*второй блок*/
.filter-price{
  width: 319px;
  height: 130px;
}
/*стоимость в сутки*/
.filter-title{
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
/*квадрат*/
.price-frame{
  width: 314px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
}

.price-frame input{
  width: 44px;
  margin: 0;
  padding: 0;
  color: #fff;
  background: 0 0;
  border: none;
  outline: none;
}

.price-frame-input{
  width: 47%;
  text-align: center;
}

.price-frame-input p{
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #fff;
}

.price-frame-input-line{
  display: inline-block;
  width: 2px;
  height: 22px;
  vertical-align: middle;
  background: #fff;
}

.btn-transparent{
  width: 133px;
  height: 32px;
  border: 2px solid #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  padding: 6px 35px;
  margin-left: 80px;
}

.btn-transparent:hover{
  background-color: #fff;
  color: #000;
}

.range-controls{
  position: relative;
  width: 98%;
  padding-top: 20px;
  padding-bottom: 32px;
}

.range-controls .scale{
  width: 318px;
  height: 2px;
  background: rgba(255,255,255,.3);
}

.scale .bar{
  width: 80%;
  height: 2px;
  background: #fff;  
}

.toggle{
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.max-toggle {
  left: 240px;
}

.toggle:hover{
  width: 6px;
  height: 6px;
}

/* конец радио кнопок*/
/*налачо строки результата*/
.search-result{
  width: 1200px;
  height: 88px;
  display: flex;
  align-items: center;
}

.search-result-left{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 72px;
  padding-right: 30px;
}

.search-result-center{
  width: 880px;
}

.search-result-center ul{
  width: 390px;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.search-result-center li:first-child{
  padding-right: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.search-result-center a:hover{
  color: #81b3d2;
}

.search-result-center a:focus{
  color: #000000;
  border-bottom: none;
}

.button-blue a{
  color: #81b3d2;
}

.button-dashed{
  border-bottom: 1px dashed #81b3d2;
}
/*
.icon-up-dir:before:hover{
  color: #000;
}
*/
.icon-up-dir:before {
  content: "\25b2";
  color: #ccc;
  font-size: 12px;
  padding-right: 3px;
}

.icon-down-dir:before{
  content:"\25bc";
  color: #81b3d2;
  font-size: 12px;
}
/* начало меню*/
.block-catalog{
  width: 1200px;
  height: 100%;
  border-top: 1px solid #e5e5e5;
}

.width-block{
  width: 1200px;
  height: 153px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.view-result{	
  width: 800px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hotel{
  width: 660px;
  height: 90px;
  margin-left: 28px;
  box-sizing: border-box;
}

.photo{
  height: 90px;
}

.hotel h2 > a:hover{
  color: #81b3d2;
}

.hotel h2 > a:focus{
  color: #000000;
  opacity: 0.3;
}


.hotel h2{
  height: 16px;
  font-size: 21px;
  font-weight: 700;
  margin:0;
  margin-top: -2px;
}

.hotel-1 span{
 padding-left: 39px;
}

.hotel-2 span{
 padding-left: 64px;
}

.hotel-3 span{
 padding-left: 21px;  
}

.hotel p{
  margin: 0;
  padding-top: 17px;
  padding-bottom: 16px;
}

.block-button{
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.details{
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  color: #ffffff; 
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  padding-top: 4px;
  box-sizing: border-box;
}

.details:hover{
  color: #fff;
  background-color: #669ec0;
}

.details:focus{
  background-color: #5496bd;
  color: #84b3d0;
}

.reserv{
  width: 142px;
  height: 27px;
  background-color: #766357;
  color: #ffffff;  
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  padding-top: 4px;
  box-sizing: border-box;
}

.reserv:hover{
  background-color: #604e43;
}

.reserv:focus{
  background-color: #503e33;
  color: #84776f;
}

.block-rating{
  width: 111px;
  height: 90px;
}

.main-rating .stars{
  color: #81b3d2;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 45px; 
}

.stars img{
  margin-left: 5px;
}

.rating{
  width: 110px;
  height: 27px; 
  font-weight: 400;
  padding-top: 5px;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
  float: right;
  box-sizing: border-box;
}


