body{
  color: #000000;	
  font-family: "PT Sans", Arial, Sans-serif;
  font-size: 14px; 
  font-weight: 700;
  text-transform: uppercase;
}

a{
  color: #000000;	
  text-decoration: none; 		
}

p{
  color: #333333;
  font-weight: 400;
}

li{
  list-style-type: none;	
}	
ul{
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 0px;	
}
.cover{
  width: 1200px;
  margin: 0 auto;	
  box-shadow: 0 0 30px 10px #dbdbdb;
}
/*Heder*/
.site-navigation{
  display: flex;
}
.main-navigation{
  display: flex;
  justify-content: space-around;	
  align-items: center;
}
.main-navigation li{		
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.main-navigation{
  width: 1200px;
  height: 56px;
  background-color: #ffffff;	
  padding: 0;
}
.box-logo{
  min-width: 140px;
  min-height: 72px;	
}
.logo{
  position: absolute;
  left: 50%;
  margin-left: -70px;
  z-index: 10;	
}
/*finish Heder*/
/*main manu*/
.background-photo{	
  background: url(../img/background_photo.png) no-repeat;
  background-size: cover;
  height: 508px;
  position: relative;
  display: flex;
  justify-content: center;
}

.background-photo img{
  position: absolute;
  margin-top: 77px;	
}

.polygon{
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 1200px;
  height: 57px;	
  background: url(../img/polygon.png) no-repeat 50% 50%;		
}

.features-promo{
  margin-top: 61px;	
  text-align: center;	
}

.features-promo h1{
  font-size: 21px;
  margin-bottom: 38px;
}

.main-block{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 56px;	
  padding-bottom: 57px; 
}

.block-background p{
  color: #ffffff;	
}

.block-background{	
  background-color: #81b3d2;
  color: #ffffff; 
  line-height: 21px;
  text-align: center;
}

.main-block-background{
  display: flex;
}

.mein-block-background-2{
  display: flex;
  padding-top: 70px;
}

.block-1{
  min-width: 400px;
  max-height: 256px;
  padding-top: 46px;
  box-sizing: border-box;
}

.first-photo{
  min-width: 800px;
  max-height: 401px;
}

.block-2{	
  min-width: 400px;
  max-height: 256px;	
  padding-top: 49px;
  box-sizing: border-box;
}

.last-photo{
  min-width: 800px;
  max-height: 256px;
}

.one-third{
  text-align: center;
}

.block-other{
  display: flex;
  justify-content: space-around;
}

.one-third{
  padding-top: 58px;
}

.other-block-2{
  display: flex;
  justify-content: space-around;	
  background-color: #eeeeee;
  text-align: center;
  height: 209px;		
  padding-top: 47px;
}
.main-block span{	
  font-weight: 400;	
}
.interesting{
  text-align: center;	
}

.interesting h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;	
}
/*finish menu*/
/*footer*/
.index-footer{
  width: 1200px;
  height: 120px;	
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;	
  opacity: 0.9;
  margin-top: 120px;
}

.info-footer{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 123px;
  padding-bottom: 32px;
}

.info-footer p{
  width: 136px;
  height: 16px;	
  font-weight: 700;
}

.social{
  display: flex;	
  justify-content: space-between;
  padding-top: 36px;
}

.media{
  background-color: #81b3d2;
  margin-right: 6px;
}

.twitter{
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 14px;
  padding-bottom: 16px; 
}

.fb{
  padding-top: 13px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 13px; 
}

.youtube{
  padding-top: 16px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 16px; 
}

.wedsite-logo{		
  padding-top: 39px;
  padding-right: 101px;
}
.form-website{
  line-height: 40px;	
  font-weight: 400;
  vertical-align: top;
  padding-right: 8px;
}
/*finish footer*/
/*вторая страница гостиницы*/
.filter{
  width: 1200px;
  height: 215px;
  background: url(../img/filter_background.png) no-repeat 50% 50%;
  position: relative;
  background-size: cover;
  color: #ffffff;
}
/* начало меню*/
.view-result{	
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #e5e5e5;
}
.view-result-1{
   border-top: 1px solid #e5e5e5;
}
.hotel{


}
.hotel p{
  padding-bottom: 2px;	
}
.hotel-1 span{
  padding-left: 39px;
}
.hotel-2 span{
  padding-left: 64px;
}
.hotel-3 span{
  padding-left: 21px;	
}

.hotel-1 h2{
  width: 210px;
  height: 16px;	
}

.hotel-2 h2{
  width: 170px;
  height: 20px;	
}

.hotel-3 h2{
  width: 227px;
  height: 16px;	
}
.main-rating{	
  width: 185px;


}

.main-rating .stars{
  float: right;
  margin-bottom: 43px;
  margin-right: 72px;
  font-size: 18px;
  color: #81b3d2;
}

.button{
  color: #ffffff;
  padding-top: 18px;	
}

.details{	
  background-color: #81b3d2;	
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 6px;
  margin-right: 6px;
 }

.reserv{
  line-height: 21px;	
  background-color: #766357;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 6px;
}

.rating{
  width: 81px;
  height: 16px;	
  font-weight: 400;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 13px;
  padding-bottom: 6px;
}
